vllm
librosa
fastaudiosr @ git+https://github.com/ysharma3501/FlashSR.git
ncodec @ git+https://github.com/ysharma3501/FastBiCodec.git
einops
onnxruntime
soundfile
torch
torchaudio
transformers
omegaconf
